<!DOCTYPE html>
<html lang="en">

<head>
    <title>BookSaw - Free Book Store HTML CSS Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/icomoon/icomoon.css">
    <link rel="stylesheet" type="text/css" href="/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">

    <%- include('./partials/header') %>
        <section id="list-books" class="bookshelf mt-5 ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-content">                        
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="testimonial-card">
                                            <div class="quote-icon">“</div>
                                            <div class="content">bio: Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Facilis blanditiis excepturi quisquam temporibus voluptatum
                                                reprehenderit culpa, quasi corrupti laborum accusamus.</div>
                                            <div class="name">Person Name</div>
                                            <div class="profession">Nationality</div>
                                            <div class="work"><strong>Works:</strong> gieets con chim nhanj, hoa oair hwong</div>
                                            <div class="quote-icon">”</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--inner-tabs-->
                </div>
            </div>
        </section>
        <%- include('./partials/footer') %>
</body>

</html>